/* Header styles */
#header {
    display: flex;
    justify-content: space-between;
}

#header > div.column-left {
    flex: 1;
    font-size: 24px;
}

#header > div.column-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
}

#header > div.column-right > div {
    margin: 10px;
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 1.0s ease, box-shadow 0.5s ease;
    transition: rgba(0, 0, 0, 0.1) 0 4px 12px 0.5s ease;
}

#header > div.column-right > div:hover {
    color: #317a24b7;
    border-bottom: 2px solid #000000;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

hr.vertical-hr {
    width: 1px;
    height: 100%;
    border: none;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Intro styles */
#intro {
    text-align: center;
}

#intro > #title {
    margin-top: 3%;
}

#intro > #about-title {
    margin-top: 2%;
}

#intro > div > p {
    margin-left: 22.5%;
    width: 55%;
}

#intro > #navigation {
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#intro > #navigation > div {
    border: 2px solid black;
    border-radius: 5%;
    margin: 5%;
    width: 16%;
    padding: 25px;
}

#intro > #navigation > div {
    background-color: #aff8a2;
    transition: background-color 0.5s;
    font-weight: bold;
    color: #000000;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#intro > #navigation > div:hover {
    background-color: #ffffff;
    cursor: pointer;
}

#content img {
    width: 400px;
    border-radius: 50%;
}

/* Career, Repositories and Get in touch styles */
#career > div.column-left,
#repositories > div.column-left,
#get-in-touch > div.column-left {
    margin-left: 5%;
}

/* Career styles */
#career {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#career > div {
    flex: 1;
}

#career > div:nth-child(2n-1) {
    text-align: left;
}

#career > div:nth-child(2) {
    text-align: right;
    margin-right: 2%;
}

#career > div:nth-child(n+2) {
    margin-top: 5%;
}

#career > div:last-child {
    max-width: 40%;
    margin-right: 5%;
    flex: 2;
}

#career > div > p {
    margin-top: 2%;
}

/* Repositories styles */

/* Get in touch styles */

/* Footer styles */
hr {
    margin-top: 7%;
    margin-bottom: 3%;
    width: 90%;
}

#footer > div.column {
    width: 25%; /* Each column takes up 25% of the container's width */
    float: left; /* Float the columns to make them appear side by side */
    padding: 10px; /* Add some spacing between columns */
    box-sizing: border-box; /* Include padding and border in the column's total width */
}

#footer > div.column > div {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
